.show-more-feature {
  background: rgb(224 224 224);
  width: 40px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.show-more-feature li {
  background: none repeat scroll 0 0 #7c7c7c;
  height: 6px;
  width: 6px;
  line-height: 0;
  list-style: none outside none;
  vertical-align: top;
  border-radius: 50%;
  pointer-events: none;
  margin-right: 3px;
}

.show-less-feature {
  background: rgb(224 224 224);
  width: 70px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 10px;
}
